# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [4]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

1. Get the total rides for each city type

In [5]:
# To get the number of rides for each city by each type of city,
# create a Series where the index is the name of city and 
# the column is the number of rides for that city.

In [6]:
# NOTE: 

# To create a DataSeries with one of the columns in a DataFrame
# we can use the groupby() function 
# and add the column inside the parentheses.

# Using the groupby() function can be used to group large amounts of
# data when we want to compute mathematical operations on thses groups.

In [7]:
type_rides_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
type_rides_count.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

2. Get the total drivers for each city type

In [8]:
# To get the average number of drivers for each city in the urban, suburban, and rural cities
# We can use the groupby() function and get the mean() of the driver_count column.

In [9]:
# Get the average number of drivers for each urban city.
# urban_driver_count = urban_cities_df.groupby(["city"]).mean()["driver_count"]
# urban_driver_count.head()

In [10]:
# Get the total drivers for each city type
type_drivers_count = city_data_df.groupby(["type"]).sum()["driver_count"]

type_drivers_count.head()

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

3. Get the total amount of fares for each city type

In [11]:
# Using the separate DataFrames for each city type, we can calculate the
# average fare for each city in the urban, suburban, and rural cities.

# Using the groupby() function, we can chain the mean() method to get the
# averages of the fare column.

In [12]:
# Get the total amount of fares for each city type
city_total_fare = pyber_data_df.groupby(["type"]).sum()["fare"]

city_total_fare.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

4. Get the average fare per ride for each city type.

In [13]:
avg_fare_per_ride = city_total_fare / type_rides_count
avg_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

5. Get the average fare per driver for each city type.

In [14]:
# pyber_data_df.groupby("type").sum()["fare"]/city_data_df.groupby("type").sum()["driver_count"]

avg_fare_per_driver = city_total_fare / type_drivers_count
avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

6. Create a PyBer summary DataFrame.

In [15]:
summary_df = pd.DataFrame({"Total Rides": type_rides_count, 
    "Total Drivers": type_drivers_count,
    "Total Fares": city_total_fare,
    "Average Fare per Ride": avg_fare_per_ride,
    "Average Fare per Driver": avg_fare_per_driver})
summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

7. Cleaning up the DataFrame. Delete the index name

In [22]:
summary_df.index.name = None
plt.savefig("analysis/DataFrame_summary.png")
summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

8. Format the columns.

In [17]:
# Not graphing, just adding dollar signs

In [18]:
#summary_df["Total Rides"]=summary_df["Total Rides"].map("{:,.0f})".format                                                                   

#summary_df["Total Drivers"]=summary_df["Total Drivers"].map("{:,.0f})".format
#summary_df["Total Fares"]=summary_df["Total Fares"].map("{:,.0f})".format
#summary_df["Average Fare per Ride"]=summary_df["Average Fare per Ride"].map("{:,.0f})".format
#summary_df["Average Fare per Driver"]=summary_df["Average Fare per Driver"].map("{:,.0f})".format

#summary_df

In [21]:
summary_df["Total Rides"] = summary_df["Total Rides"].map("{:,.0f})".format
summary_df["Total Drivers"] = summary_df["Total Drivers"].map("{:,.0f})".format
summary_df["Total Fares"] = summary_df["Total Fares"].map("{:,.0f})".format
summary_df["Average Fare per Ride"] = summary_df["Average Fare per Ride"].map("{:,.0f})".format
summary_df["Average Fare per Driver"] = summary_df["Average Fare per Driver"].map("{:,.0f})".format

summary_df

SyntaxError: invalid syntax (<ipython-input-21-763203d5b258>, line 2)

In [ ]:
#plt.plot(urban_ride_count,
#           urban_avg_fare,
#           s=10*urban_driver_count, c="coral",
#           edgecolor="black", linewidths=1,
#           alpha=0.8, label="Urban")
#plt.title("PyBer Ride-Sharing Data (2019)")
#plt.ylabel("Average Fare ($)")
#plt.xlabel("Total Number of Rides (Per City)")
#plt.grid(True)
# Add the legend.
#plt.legend()

In [ ]:
#plt.plot(type_rides_count, city_average_fare, s=10 * type_drivers_count, c="coral", edgecolor="black", linewidths=1, alpha=0.8, label="Urban")
#plt.title("PyBer Ride-Sharing Data (2019)")
#plt.ylabel("Average Fare ($)")
#plt.xlabel("Total Number of Rides (Per City)")
#plt.grid(True)
# Add the legend.
#plt.legend()

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

1. Read the merged DataFrame

In [ ]:
# Display the data table for preview
pyber_data_df.head()

2. Using groupby() to create a new DataFrame showing the sum of the fares 
for each date where the indices are the city type and date.

In [ ]:
#country_sum_profit = produce_df.groupby(["Country", "Date"]).sum()[["Profit"]]
#country_sum_profit.tail(10)

In [ ]:
city_sum_fare = pyber_data_df.groupby(["city", "type", "date"]).sum()[["fare"]]
city_sum_fare.head()

3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
df = df.reset_index

In [ ]:
# country_sum_profit = country_sum_profit.reset_index()
# country_sum_profit.tail(10)

In [ ]:
city_sum_fare = pyber_data_df.reset_index()
city_sum_fare.head()

4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare'

In [ ]:
# country_sum_profit_pivot = country_sum_profit.pivot(index="Date", columns="Country", values="Profit")
# country_sum_profit_pivot.tail(10)
city_sum_fare_pivot = pyber_data_df.pivot(index="date", columns="type", values="fare")
city_sum_fare_pivot.head()

5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# use the loc function to get the dates between ''2019-01-01':'2019-04-29''

In [ ]:
# study example
# mydata.loc['date1':'date10']

# My example
# ride_share_data.loc['2019-01-01':'2019-04-29']

In [ ]:
# Can only make dates until 04-28. If I make the date until 04-29 the line graph shows until May, not April. (Directions expects the month of April not Martch.)
city_sum_fare_pivot = city_sum_fare_pivot.loc['2019-01-01':'2019-04-28']
city_sum_fare_pivot

6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8. 
df.index = pd.to_datetime(df.index)

In [ ]:
# country_sum_profit_pivot.index = pd.to_datetime(country_sum_profit_pivot.index)
# country_sum_profit_pivot
city_sum_fare_pivot.index = pd.to_datetime(city_sum_fare_pivot.index)
city_sum_fare_pivot

7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# country_sum_profit_pivot.info()
city_sum_fare_pivot.info()

8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# country_sum_profit_day = country_sum_profit_pivot.resample("D").sum()
# country_sum_profit_day.head(10)

In [ ]:
city_sum_fare_day = city_sum_fare_pivot.resample("w").sum()
city_sum_fare_day

9. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function.

In [ ]:
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

In [24]:
city_sum_fare_day.plot(figsize=(12, 8))

plt.title("Total Fare by City Type", fontsize=16)
plt.ylabel("Fare ($USD)", fontsize=15)

lgnd = plt.legend(fontsize="12", title="City Type")
lgnd.get_title().set_fontsize(12)

plt.savefig("analysis/PyBer_summary.png")

# Show figure 
plt.show()

NameError: name 'city_sum_fare_day' is not defined